h1 {{'home.title' | translate}} {{homeController.email}}

button#push_me(ng-click="homeController.sayHello()") {{'home.push' | translate}}

#container.names
  div(ng-repeat="color in homeController.colors")
    p {{color}}
